section #pr li {
    display: block;
    margin-bottom: 2px;
}

#project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#project-wrapper .item {
    padding: 2%;
    width: calc(550px - 4%);
    height: calc(160px - 4%);
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 30px;
}

#project-wrapper .item:hover {
    cursor: pointer;
}

#project-wrapper .item p {
    margin: 0;
    padding: 0;
}

#project-wrapper .title {
    font-weight: 700;
}



#archive_project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#archive_project .item {
    padding: 2% 0 2% 3%;
    width: calc(450px - 3%);
    height: calc(160px - 4%);
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-bottom: 30px;
}



#archive_project .item .title {
    font-size: 22px;
    font-weight: 800;
    margin: 6px 0 6px 0;
    color: #333333;
}

#archive_project .item .preview {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: black;
}

#archive_project .item .tag {
    padding: 1% 1.5%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    margin-right: 8px;
}

#archive_project .item .dotnet {
    color: #333333;
    background-color: #ffdddd;
}

#archive_project .item .windows {
    color: white;
    background-color: #445588;
}

#archive_project .item .mysql {
    color: white;
    background-color: #829e7f;
}

#archive_project .item .mud {
    color: #333333;
    background-color: #e5c78c;
}