/* pr */
section #pr li {
    display: block;
    margin-bottom: 2px;
}

/* project */
section #project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#project-wrapper .item {
    padding: 2%;
    width: calc(1000px - 4%);
    height: calc(160px - 4%);
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
}

#project-wrapper .item:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

#project-wrapper .item p {
    margin: 0;
    padding: 0;
}

#project-wrapper .title {
    font-size: 1.3rem;
    font-weight: 600;
}

#project-wrapper .description {
    font-size: 1rem;
    font-weight: 500;
}

#project-wrapper span {
    padding: 0.5% 1%;
    background-color: #ffffff;
    font-size: 0.8rem;
    font-weight: 500;
}

@media (max-width: 480px) {
    #project-wrapper .description {
        font-size: 1rem;
        font-weight: 500;
        word-break: keep-all;
    }

    #project-wrapper span {
        display: block;
        padding: 0.5% 1%;
        margin-bottom: 2%;
        background-color: #ffffff;
        font-size: 0.8rem;
        font-weight: 500;
    }   
}