<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include top.html %}
</head>
<body>
<div class="nav_container">
    {% include nav.html %}
</div>
<div class="post_container">
    <p id="post_date">{{ page.date | date: "%d %b %Y" }}</p>
    <p id="post_title">{{ page.title }}</p>
    {{ content }}
</div>
<p id="block"></p>
<div class="footer_container">
    <footer>
        <a href="https://github.com/chm209">chm209&nbsp;</a>
        <a>&nbsp;changmin7537@gmail.com</a>
        <p>Copyright 2021-2022 chm209 all right reserved</p>
    </footer>
</div>
</body>
</html>